h1, h2, h3 {
    background: linear-gradient(45deg, rgb(56, 194, 253), rgb(13, 230, 89));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
body{
    font-family: -apple-system,"微软雅黑", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainArea {
    max-width: 1000px;
    justify-content: center;
    text-align: left;
}